{% extends 'admin/base.html' %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename = 'markdown/css/editormd.css') }}" />
<!-- 内容区域 -->
    <div class="tpl-content-wrapper">
        <div class="row-content am-cf">
            <div class="row">
                <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                    <div class="widget am-cf">
                        <div class="widget-head am-cf">
                            <div class="widget-title am-fl">文章新增/编辑</div>
                            <div class="widget-function am-fr">
                                <a href="javascript:;" class="am-icon-cog"></a>
                            </div>
                        </div>
                        <div class="widget-body am-fr">

                            <form class="am-form tpl-form-line-form">
                                <div class="am-form-group">
                                    <label for="user-name" class="am-u-sm-1 am-form-label">标题 <span
                                            class="tpl-form-line-small-title">Title</span></label>
                                    <div class="am-u-sm-11">
                                        <input type="text" class="tpl-form-input" id="title" placeholder="请输入标题文字">
                                        <small>请填写标题文字100字以内。</small>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-1 am-form-label">文章内容</label>
                                    <div class="am-u-sm-11">
                                        <div id="markdown">
                                        </div>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-phone" class="am-u-sm-1 am-form-label">作者 <span
                                            class="tpl-form-line-small-title">Author</span></label>
                                    <div class="am-u-sm-11">
                                        <select multiple data-am-selected="{searchBox: 1}" style="display: none;">
                                            <option value=""></option>
                                            {% for user in users %}
                                                <option value="{{ user.id }}">{{ user.nickname }}</option>
                                            {% endfor %}
                                        </select>

                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-1 am-form-label">封面图 <span
                                            class="tpl-form-line-small-title">Images</span></label>
                                    <div class="am-u-sm-11">
                                        <div class="am-form-group am-form-file">
                                            <div class="tpl-form-file-img">
                                                <img src="assets/img/a5.png" alt="">
                                            </div>
                                            <button type="button" class="am-btn am-btn-danger am-btn-sm">
                                                <i class="am-icon-cloud-upload"></i> 添加封面图片
                                            </button>
                                            <input id="doc-form-file" type="file" multiple="">
                                        </div>

                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-weibo" class="am-u-sm-1 am-form-label">添加分类 <span
                                            class="tpl-form-line-small-title">Type</span></label>
                                    <div class="am-u-sm-11">
                                        <select multiple data-am-selected="{searchBox: 1}" style="display: none;">
                                            <option value=""></option>
                                                {% for type in types %}
                                                    <option value="{{ type.id }}">{{ type.article_type }}</option>
                                                {% endfor %}
                                            </select>
                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <label for="user-intro" class="am-u-sm-1 am-form-label">隐藏文章</label>
                                    <div class="am-u-sm-11">
                                        <div class="tpl-switch">
                                            <input type="checkbox" class="ios-switch bigswitch tpl-switch-btn"
                                                   checked="">
                                            <div class="tpl-switch-btn-view">
                                                <div>
                                                </div>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="am-form-group">
                                    <div class="am-u-sm-9 am-u-sm-push-3">
                                        <button id="submitArticle" type="button" class="am-btn am-btn-primary tpl-btn-bg-color-success ">提交
                                        </button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ url_for('static', filename = 'markdown/editormd.min.js') }}"></script>
    <script>
        var markdown;
        $(function () {
            markdown = editormd({
                id: "markdown",
                path: "/static/markdown/lib/",
                height: 700,
                toolbarIcons: function(){
                    return ["bold","italic","del","h1","h2","h3","quote","list-ol","list-ul","link","code","code-block","table","image","undo","redo"]
                }
            })
        })
        $("#submitArticle").click(function(){
            var content = $(".editormd-markdown-textarea").val();

        })
        
    </script>
{% endblock %}
