{% extends 'admin/base.html' %}
{% block content %}
<!-- 内容区域 -->
<div class="tpl-content-wrapper">
    <div class="row-content am-cf">
        <div class="row">
            <div class="am-u-sm-12 am-u-md-12 am-u-lg-12">
                <div class="widget am-cf">
                    <div class="widget-head am-cf">
                        <div class="widget-title  am-cf">文章列表</div>


                    </div>
                    <div class="widget-body  am-fr">

                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-6">
                            <div class="am-form-group">
                                <div class="am-btn-toolbar">
                                    <div class="am-btn-group am-btn-group-xs">
                                        <button onclick="modify(0)" type="button"
                                            class="am-btn am-btn-default am-btn-success"><span
                                                class="am-icon-plus"></span> 新增</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-6 am-u-lg-3">
                            <div class="am-form-group tpl-table-list-select">
                                <select id="article_type" data-am-selected="{btnSize: 'sm'}">
                                    <option value="-1">所有类别</option>
                                    <option value="0">管理员</option>
                                    <option value="1">普通用户</option>
                                </select>
                            </div>
                        </div>
                        <div class="am-u-sm-12 am-u-md-12 am-u-lg-3">
                            <div class="am-input-group am-input-group-sm tpl-form-border-form cl-p">
                                <input type="text" class="am-form-field ">
                                <span class="am-input-group-btn">
                                    <button id="searchBtn"
                                        class="am-btn  am-btn-default am-btn-success tpl-table-list-field am-icon-search"
                                        type="button"></button>
                                </span>
                            </div>
                        </div>

                        <div class="am-u-sm-12">
                            <table width="100%" class="am-table am-table-compact am-table-striped tpl-table-black "
                                id="example-r">
                                <thead>
                                    <tr>
                                        <th>序号</th>
                                        <th>账户</th>
                                        <th>昵称</th>
                                        <th>角色</th>
                                        <th>状态</th>
                                        <th>创建时间</th>
                                        <th>操作</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for user in users %}
                                    <tr class="gradeX">
                                        <td>{{ loop.index }}</td>
                                        <td>
                                            {{ user.account }}
                                        </td>
                                        <td>
                                            {{ user.nickname }}
                                        </td>
                                        <td>
                                            {% if user.role == 0 %}
                                                <span class="am-text-secondary">管理员</span>
                                            {% else %}
                                                <span class="am-text-danger">普通用户</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if user.status == 0 %}
                                                <span class="am-text-secondary">正常</span>
                                            {% else %}
                                                <span class="am-text-danger">冻结</span>
                                            {% endif %}
                                        </td>
                                        <td>{{ user.createtime }}</td>
                                        <td>
                                            <div class="tpl-table-black-operation">
                                                <a href="javascript:;" onclick="modify({{ user.id }})">
                                                    <i class="am-icon-pencil"></i> 编辑
                                                </a>
                                                {% if user.status == 0 %}
                                                    <a href="javascript:;" onclick="manage({{ user.id }}, 1)" class="tpl-table-black-operation">
                                                        <i class="am-icon-check"></i> 禁用
                                                    </a>
                                                {% else %}
                                                    <a href="javascript:;" onclick="manage({{ user.id }}, 0)" class="tpl-table-black-operation">
                                                        <i class="am-icon-check"></i> 启用
                                                    </a>
                                                {% endif %}
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="am-u-lg-12 am-cf">

                            <div class="am-fr">
                                <ul class="am-pagination tpl-pagination">
                                    {% if pagination.has_prev %}
                                    <li><a href="/user_list?page={{ pagination.prev_num }}">&laquo; Prev</a></li>
                                    {% else %}
                                    <li class="am-disabled"><a href="#">&laquo; Prev</a></li>
                                    {% endif %}
                                    {% if pagination.has_next %}
                                    <li><a href="/user_list?page={{ pagination.next_num }}">Next &raquo;</a></li>
                                    {% else %}
                                    <li class="am-disabled"><a href="#">Next &raquo;</a></li>
                                    {% endif %}
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="am-modal am-modal-prompt" tabindex="-1" id="user_status">
    <div class="am-modal-dialog">
        <div class="am-modal-hd">用户状态
            <a href="javascript: void(0)" class="am-close am-close-spin" data-am-modal-close>&times;</a>
        </div>
        <div id="message" class="am-modal-bd">
            
        </div>
        <div class="am-modal-footer">
            <span class="am-modal-btn" data-am-modal-cancel>取消</span>
            <span class="am-modal-btn" data-am-modal-confirm>提交</span>
        </div>
    </div>
</div>

<script>

    $(function(){
        $("#article_type").change(function(e){
            var type = $("#article_type").val();
            // 暂不编写索功能
            alert("暂未实现！");
        })
        
        $("#searchBtn").click(function(){
            alert("暂未实现！");
        })
    })

    //新增或者编辑文章
    function modify(user_id) {
        window.location.href = '/user_modify?user_id=' + user_id;
    }
    //文章审核
    function manage(user_id, status){
        if (status == 0){
            $("#message").html("确定要恢复该用户？");
        }else{
            $("#message").html("确定要冻结该用户？");
        }
        var $modal = $("#user_status");
        $modal.modal({
            relatedTarget: this,
            onConfirm: function(){
                $.ajax({
                    url: "/user_status",
                    type: "post",
                    dataType: "json",
                    data:{id: user_id,status: status},
                    success: function(result){
                        if (result.status){
                            alert("操作成功！");
                            window.location.reload();
                        } else{
                            alert("未知错误，请联系管理员!");
                            console.log(result.msg);
                        }
                    },
                    error: function(result){
                        alert("未知错误，请联系管理员!")
                        console.log(result);
                    }
                })
            },
            onCancel: function(){
                console.log("取消审核！")
            }
        });
    }
</script>
{% endblock %}